<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="article">
    <div class="header">
        {% if user.is_authenticated %}
            <span class="user-info">{{ user.username }}</span>
            <a href="/logout/" class="auth-btn">Выйти</a>
        {% else %}
            <a href="/login/" class="auth-btn">Войти</a>
            <a href="/register/" class="auth-btn register-btn">Регистрация</a>
        {% endif %}
        <img src="{% static 'img/dpb-logo.png' %}" alt="Логотип" />
            <div class="header-links">
            <a href="/article/new/" class="new-post-btn">+ Новая статья</a>
        </div>
    </div>
    <div class="content">
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created-date">{{ post.created_date }}</div>
        </div>
        <div class="article-text">
            {{ post.text|linebreaksbr }}
        </div>
        <div class="footer">
            <a href="/" class="back-link">← Все записи</a>
        </div>
    </div>
</body>
</html>